@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "inter";
}

/* TOPO DO SITE */
#topo {
  background-color: #303030;
  color: white;
  height: 475px;
}

#titulo-topo {
  font-size: 60px;
  padding: 220px 0 20px 100px;
}

#txt-topo {
  font-size: 20px;
  padding-left: 100px;
}

/* INFORMAÇÕES DO SITE */
#informacional {
  background-color: #f9f9f9;
  height: 230px;
  display: grid;
  grid-auto-flow: column;
  columns: auto;
  align-items: center;
  justify-content: center;
  gap: 180px;
}

#informacional span {
  font-size: 40px;
  font-weight: 600;
}

.txt-informativo {
  font-size: 20px;
}

/* HISTORIA E EXPERIÊNCIA */
#historia {
  display: grid;
  grid-auto-flow: column;
  columns: auto;
  align-items: center;
  padding: 80px;
}

#historia img {
  padding-left: 100px;
}

#titulo-historia {
  font-size: 40px;
  font-weight: 500;
  padding-bottom: 50px;
  margin-left: 50px;
}

#txt-historia {
  font-size: 24px;
  font-weight: 300;
  margin-left: 50px;
}

/* FORMULARIO */
#formulario {
  background-color: #303030;
  height: 540px;
  padding-top: 90px;
  text-align: center;
}

#titulo-formulario {
  font-size: 32px;
  color: white;
  font-weight: 700;
}

input {
  width: 500px;
  height: 70px;
  border-radius: 10px;
  margin-top: 50px;
  border: none;
  font-family: "Raleway";
  font-size: 24px;
  font-weight: 700;
  padding-left: 20px;
}

input::placeholder {
  color: #0000004d;
}

button {
  background-color: #c07212;
  margin-top: 90px;
  width: 280px;
  height: 70px;
  border-radius: 10px;
  color: rgb(237, 237, 237);
  border: none;
  font-family: "Raleway";
  font-size: 30px;
  font-weight: 700;
  cursor: pointer;
}

button:hover {
  background-color: #d08830;
  color: white;
  transform: translateY(-7px);
  box-shadow: 0 15px 20px #301c0581;
  transition-duration: 0.5s;
}
